input[type='text']{
    width: 400px;
}

input[type='submit'],
button[type='submit']{
    margin-top: 30px;
}

textarea{
    min-width: 400px;
    min-height: 100px;
}

.form_group{
    margin-bottom: 10px;
}